.logo {
  width: 80%;
  max-width: 200px; /* Limitar el ancho máximo para evitar que la imagen se estire demasiado en dispositivos muy anchos */
  will-change: filter;
  transition: filter 300ms;
  margin: 0 auto; /* Centrar horizontalmente */
}

.container {
  position: absolute; /* Cambiado a relativo para que los elementos internos se posicionen correctamente */
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.logo:hover {
  filter: drop-shadow(0 0 0.5em #646cffaa); /* Reducido el tamaño de la sombra para que se vea mejor en dispositivos pequeños */
}

.typewriter {
  position: relative; /* Cambiado a relativo para que se posicione correctamente dentro del contenedor */
  flex-direction: column; /* Alinear los elementos verticalmente */
  align-items: center; /* Alinear los elementos horizontalmente */
}

.typewriter span {
  font-size: 3em; /* Reducido el tamaño de la fuente para dispositivos más pequeños */
}

.icon {
  text-align: center;
  transform: scale(3);
  position: absolute;
  transform: scale(5);
  bottom: 40%;
  left: -90%;
}

.icon2 {
  transform: scale(3);
}

@media screen and (min-width: 768px) {
  /* Estilos específicos para pantallas más grandes (tabletas y escritorios) */
  .logo {
    width: 100em; /* Ajustar el ancho para pantallas más grandes */
  }
  .typewriter{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
  }
  .container{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .typewriter span {
    font-size: 4em; /* Reducido el tamaño de la fuente para dispositivos más pequeños */
  }
  
  

  .icon{
    position: absolute;
    transform: scale(5);
    bottom: 40%;
    left: -90%;
  }
  .icon2 {
    position: absolute;
    transform: scale(5); /* Ajustar el tamaño de la escala para pantallas más grandes */

  }

}
