.logo {
  width: 30%;
  will-change: filter;
  transition: filter 300ms;
}

.container{

  position: absolute;
  top: 50%;
  text-align: center;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
